Repository BrightspaceHypermediaComponents/activities, changes with the owners that CODEOWNERS names for each.
All owners: @majones, @BrightspaceHypermediaComponents/nimbus, @Brightspace/luna

Apply RTL fix for help button spaced from open in new tab option
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
  components/d2l-activity-editor/d2l-activity-content-editor/web-link/d2l-activity-content-editor-link.js
Owners: @majones

US128152 - fixing skeletal issues
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-external-activity.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-preview.js
Owners: @majones

US128152 - removing unit from 0 in CSS to follow linting rules
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
Owners: @majones

Update fr-on translations
  components/d2l-activity-editor/d2l-activity-assignment-editor/lang/fr-on.js
  components/d2l-activity-editor/lang/fr-on.js
  components/d2l-quick-eval/lang/fr-on.js
  components/d2l-work-to-do/lang/fr-on.js
Owners: @majones, @BrightspaceHypermediaComponents/nimbus, @Brightspace/luna

Add missing term
  components/d2l-activity-editor/lang/fr-on.js
Owners: @majones

Remove extraneous term
  components/d2l-activity-editor/lang/fr-on.js
Owners: @majones

Notes added by 'git notes add'
  25/2f16321cb0256a571b37676cd095790987da98
Owners: @majones

US128152 - rename property and remove extra closing div tag
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-external-activity.js
Owners: @majones

Notes added by 'git notes add'
  7e/a340d2ae192a2ef5c62842b506bb0e8a2ba9e4
Owners: @majones

US128152 - adding workaround for firefox and better padding
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-preview.js
Owners: @majones

Remove 'd2l-skeletize' class from help button span in lti link options for consistency
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
Owners: @majones

Notes added by 'git notes add'
  90/1288daafaf91c14e81a72604be179ad636e151
Owners: @majones

Notes added by 'git notes add'
  e4/8f375c38325adec938589b617108991f6f5718
Owners: @majones

Notes added by 'git notes add'
  d2/8a7bc9ad1b331e284bb875171ab0edfb735bb1
Owners: @majones

fix ending dialog typo
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-container.js
Owners: @majones

Notes added by 'git notes add'
  8d/2b04842bf6eff118e0848e7a99549fc7c951c0
Owners: @majones

only clear rubric data on fullscreen dialog close
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-container.js
Owners: @majones

create a new loading skeleton component for unknown file types
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-loading.js
Owners: @majones

Notes added by 'git notes add'
  f8/88432a4080021e21a95cd5d6d431b89cd558b7
Owners: @majones

Notes added by 'git notes add'
  e0/0f480a91ea697c0b421ca1c62edaeaa9b02e5f
Owners: @majones

add onDIalogClose rather than anon function
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-container.js
Owners: @majones

Notes added by 'git notes add'
  11/fba586433490d8caf607fa8ab31292ace1948f
Owners: @majones

use triple equal operator
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-container.js
Owners: @majones

check dialog exists before comparing
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-container.js
Owners: @majones

Add tooltip locale explaining/recommending 'open in new tab' option
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
  components/d2l-activity-editor/d2l-activity-content-editor/web-link/d2l-activity-content-editor-link.js
  components/d2l-activity-editor/lang/en.js
Owners: @majones

Notes added by 'git notes add'
  73/a3e23e2814785bc62ef92f0e16f6e77c131362
Owners: @majones

Notes added by 'git notes add'
  b4/5fcd9c1e195e50ba68a518fb741060631ce417
Owners: @majones

Notes added by 'git notes add'
  5d/5c8afb37667723fbc754682724517157014468
Owners: @majones

Address PR comments
  components/d2l-activity-editor/lang/en.js
Owners: @majones

Updating Visual Diff Goldens
  test/d2l-quick-eval-widget/perceptual/screenshots/ci/golden/d2l-quick-eval-widget/d2l-quick-eval-widget-no-submissions.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-disabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/ellipsis-menu/d2l-quick-eval-ellipsis-menu-dropdown-opened.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/view-toggle/d2l-quick-eval-view-toggle-activities.png
Owners: @BrightspaceHypermediaComponents/nimbus

Notes added by 'git notes add'
  3d/978db173368aea5619f8c2b94fa81f9215454a
Owners: @majones

Notes added by 'git notes add'
  b5/375eb62c404d116e89e23720995b14ad1501cf
Owners: @majones

Notes added by 'git notes add'
  5a/9089b80c1f91bdb1b058077420052d1054dff1
Owners: @majones

US128812 - hide display options for non-embeddable LTI links
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-external-activity.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/state/content-lti-link.js
  components/d2l-activity-editor/lang/en.js
  test/d2l-quick-eval-widget/perceptual/screenshots/ci/golden/d2l-quick-eval-widget/d2l-quick-eval-widget-no-submissions.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-disabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/ellipsis-menu/d2l-quick-eval-ellipsis-menu-dropdown-opened.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/view-toggle/d2l-quick-eval-view-toggle-activities.png
Owners: @majones, @BrightspaceHypermediaComponents/nimbus

remove visual diff
  test/d2l-quick-eval-widget/perceptual/screenshots/ci/golden/d2l-quick-eval-widget/d2l-quick-eval-widget-no-submissions.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-disabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/ellipsis-menu/d2l-quick-eval-ellipsis-menu-dropdown-opened.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/view-toggle/d2l-quick-eval-view-toggle-activities.png
Owners: @BrightspaceHypermediaComponents/nimbus

Updating Visual Diff Goldens
  test/d2l-quick-eval-widget/perceptual/screenshots/ci/golden/d2l-quick-eval-widget/d2l-quick-eval-widget-no-submissions.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-disabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/ellipsis-menu/d2l-quick-eval-ellipsis-menu-dropdown-opened.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/view-toggle/d2l-quick-eval-view-toggle-activities.png
Owners: @BrightspaceHypermediaComponents/nimbus

Notes added by 'git notes add'
  d2/8a7bc9ad1b331e284bb875171ab0edfb735bb1
Owners: @majones

US128812 - hide display options for non-embeddable LTI links
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-external-activity.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/d2l-activity-content-lti-link-options.js
  components/d2l-activity-editor/d2l-activity-content-editor/lti-link/state/content-lti-link.js
  components/d2l-activity-editor/lang/en.js
  test/d2l-quick-eval-widget/perceptual/screenshots/ci/golden/d2l-quick-eval-widget/d2l-quick-eval-widget-no-submissions.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-disabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/ellipsis-menu/d2l-quick-eval-ellipsis-menu-dropdown-opened.png
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/view-toggle/d2l-quick-eval-view-toggle-activities.png
Owners: @majones, @BrightspaceHypermediaComponents/nimbus

Notes added by 'git notes add'
  9d/580c7312700f83405998099d100a933e6eb134
Owners: @majones

Notes added by 'git notes add'
  71/88a73c60b7e394693c3d7bf02d4083d0762a1c
Owners: @majones

CODEOWNERS:

*       @majones
d2l-quick-eval/ @BrightspaceHypermediaComponents/nimbus
d2l-quick-eval-widget/ @BrightspaceHypermediaComponents/nimbus
/components/d2l-work-to-do/ @Brightspace/luna
/demo/d2l-work-to-do/ @Brightspace/luna
