Repository BrightspaceHypermediaComponents/activities, changes with the owners that CODEOWNERS names for each.
All owners: @majones, @BrightspaceHypermediaComponents/nimbus, @Brightspace/luna

Notes added by 'git notes add'
  89/3306bd1ef6819fbf39ae43d284f2b65b39a7f7
Owners: @majones

Implement initial changes to add HTML field to FACE page for (HTML) Files
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
  components/d2l-activity-editor/d2l-activity-content-editor/d2l-activity-content-editor-detail.js
Owners: @majones

Notes added by 'git notes add'
  56/e9befdbedc12cee80c17914779a17968e42f7e
Owners: @majones

Show detached rubric associations
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-editor.js
Owners: @majones

Enable fr-on
  components/d2l-activity-card/ActivityCardLocalize.js
  components/d2l-activity-collection-editor/localization.js
  components/d2l-activity-evaluation-icon/ActivityEvaluationIconBaseLocalize.js
  components/d2l-activity-list-item/ActivityListItemLocalize.js
  components/d2l-quick-eval-widget/lang/localize-quick-eval-widget.js
  components/d2l-quick-eval/QuickEvalLocalize.js
Owners: @majones, @BrightspaceHypermediaComponents/nimbus

Updating Visual Diff Goldens
  test/d2l-quick-eval/perceptual/screenshots/ci/golden/activity-card/d2l-quick-eval-activity-card-dismiss-dropdown-publish-enabled.png
Owners: @BrightspaceHypermediaComponents/nimbus

Always await page.hover
  test/d2l-quick-eval/perceptual/d2l-quick-eval-activity-card.visual-diff.js
Owners: @BrightspaceHypermediaComponents/nimbus

Notes added by 'git notes add'
  c3/5e28e2baf07d518e038e9c9fe9f03e0324006b
Owners: @majones

Enable fr-on
  components/d2l-activity-card/ActivityCardLocalize.js
  components/d2l-activity-collection-editor/localization.js
  components/d2l-activity-evaluation-icon/ActivityEvaluationIconBaseLocalize.js
  components/d2l-activity-list-item/ActivityListItemLocalize.js
  components/d2l-quick-eval-widget/lang/localize-quick-eval-widget.js
  components/d2l-quick-eval/QuickEvalLocalize.js
Owners: @majones, @BrightspaceHypermediaComponents/nimbus

Notes added by 'git notes add'
  ef/9360b8e5e7c9b781c9e827fdb9e29b6a58948b
Owners: @majones

Update attribute name
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-editor.js
Owners: @majones

Add more implementation changes to add HTML field to HTML File Create Page
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
  components/d2l-activity-editor/lang/en.js
Owners: @majones

allow saving (will need refactoring)
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

Notes added by 'git notes add'
  55/83e81473902dd25aa6160618e57e3ecfbf21df
Owners: @majones

Switch to confirmation dialog and fix linting
  components/d2l-activity-editor/d2l-activity-rubrics/d2l-activity-rubrics-list-editor.js
  components/d2l-activity-editor/lang/en.js
Owners: @majones

DE43284 awaiting working copy save in activity-usage
  components/d2l-activity-editor/state/activity-usage.js
Owners: @majones

Re-genericize ContentFile Class Code
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

Oops
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

Notes added by 'git notes add'
  7c/90cecc1dda70dc0a165d55c0b2c5b0255b600f
Owners: @majones

default to empty string instead of undefined
  components/d2l-activity-editor/d2l-activity-content-editor/module/d2l-activity-content-module-detail.js
Owners: @majones

bind value as a property so live works
  components/d2l-activity-editor/d2l-activity-text-editor.js
Owners: @majones

revert undefined change
  components/d2l-activity-editor/d2l-activity-content-editor/module/d2l-activity-content-module-detail.js
Owners: @majones

a bit of genericizing
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

messy messy
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

WIP changes to genericize rendering of HTML editor for FACE page
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-html-view.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

save and close to redirect to right topic
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

Revert "WIP changes to genericize rendering of HTML editor for FACE page"
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-html-view.js
Owners: @majones

Minor Code Cleanup
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-html-view.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

some cleanup
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
Owners: @majones

Tiny OCD Change
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
Owners: @majones

Cprajapati/US116840 (#1714)
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/state/content-file.js
  components/d2l-activity-editor/d2l-activity-content-editor/d2l-activity-content-editor-detail.js
  components/d2l-activity-editor/lang/en.js
Owners: @majones

Notes added by 'git notes add'
  75/fdebb0dfd505dadca1bb2ca6068f51445fa6de
Owners: @majones

DE43284 - adding MDN docs link to explanatory comment
  components/d2l-activity-editor/d2l-activity-content-editor/d2l-activity-content-editor.js
Owners: @majones

Removed attachment links feature
  components/d2l-activity-editor/d2l-activity-assignment-editor/d2l-activity-assignment-editor-detail.js
Owners: @majones

Notes added by 'git notes add'
  6b/8e6a06db9d032fcb3bbe231889885bf82bd4fc
Owners: @majones

Changed summarizer order to match component order
  components/d2l-activity-editor/d2l-activity-assignment-editor/d2l-activity-assignment-editor-submission-and-completion.js
Owners: @majones

DE43284 - setting content file editor save order to 500 so it saves first
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
Owners: @majones

Notes added by 'git notes add'
  d7/25b731c18b66a2a378160d0284593730860587
Owners: @majones

Notes added by 'git notes add'
  22/f5768020e480b7aec82f4e7dfcddcf3193c858
Owners: @majones

Remove unused import `asyncStates`
  components/d2l-activity-editor/d2l-activity-content-editor/content-file/d2l-activity-content-file-detail.js
Owners: @majones

CODEOWNERS:

*       @majones
d2l-quick-eval/ @BrightspaceHypermediaComponents/nimbus
d2l-quick-eval-widget/ @BrightspaceHypermediaComponents/nimbus
/components/d2l-work-to-do/ @Brightspace/luna
/demo/d2l-work-to-do/ @Brightspace/luna
